# Скопируйте в .env.prod на сервере и заполните. .env.prod в git не коммитить!
DOMAIN=api.namoz.tj
POSTGRES_PASSWORD=смените-на-длинный-случайный-пароль
APP_MIN_VERSION=1.0.0
APP_LATEST_VERSION=1.0.0
CONTENT_VERSIONS=cities=1