openapi: 3.0.3
info:
  title: Namoz API
  version: 1.0.0
  description: |
    Бэкенд приложения Namoz. Составлено по Backend-API.md (техническое задание).
    Часть 1: конфигурация, города, методы расчёта, время намазов.
    Часть 2: Рамадан и месяцы хиджры по странам.

    Общие правила (§2 ТЗ):
    - Имена полей — camelCase.
    - Даты — YYYY-MM-DD, моменты времени — ISO 8601 со смещением города.
    - Часовые пояса — IANA (Asia/Dushanbe).
    - Язык UI-текстов — заголовок Accept-Language (фолбэк en).
    - Контент кэшируется: Cache-Control + ETag, If-None-Match → 304 (реализуется middleware).
    - Координаты не логируются и не сохраняются (§16).

servers:
  - url: https://api.namoz.tj/v1
  - url: http://localhost:8080/v1

tags:
  - name: config
  - name: cities
  - name: prayer
  - name: hijri
  - name: device

paths:
  /config:
    get:
      tags: [config]
      operationId: getConfig
      summary: Минимальная версия приложения, флаги, версии контента
      responses:
        "200":
          description: Конфигурация
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Config"
        "500":
          $ref: "#/components/responses/Internal"

  /cities:
    get:
      tags: [cities]
      operationId: listCities
      summary: Поиск и список городов
      description: |
        Поиск по названию на всех языках (tg/ru/en/ar + транслитерация).
        Без query — популярные города страны.
      parameters:
        - name: query
          in: query
          required: false
          description: Строка поиска («Худж», «Хуҷанд», «Khujand»)
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - $ref: "#/components/parameters/CountryQuery"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/AcceptLanguage"
      responses:
        "200":
          description: Список городов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CityList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /cities/nearest:
    get:
      tags: [cities]
      operationId: getNearestCity
      summary: Ближайший город по координатам
      description: Координаты не логировать и не сохранять (§16 ТЗ).
      parameters:
        - $ref: "#/components/parameters/LatQuery"
        - $ref: "#/components/parameters/LonQuery"
        - $ref: "#/components/parameters/AcceptLanguage"
      responses:
        "200":
          description: Ближайший город
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NearestCity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/Internal"

  /cities/{cityId}:
    get:
      tags: [cities]
      operationId: getCity
      summary: Один город
      parameters:
        - $ref: "#/components/parameters/CityIdPath"
        - $ref: "#/components/parameters/AcceptLanguage"
      responses:
        "200":
          description: Город
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/City"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/Internal"

  /calculation-methods:
    get:
      tags: [prayer]
      operationId: listCalculationMethods
      summary: Методы расчёта времени намазов
      responses:
        "200":
          description: Методы расчёта
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalculationMethodList"
        "500":
          $ref: "#/components/responses/Internal"

  /prayer-times:
    get:
      tags: [prayer]
      operationId: getPrayerTimes
      summary: Расписание намазов на диапазон дат
      description: |
        Город задаётся через cityId ИЛИ lat + lon + timeZoneId.
        Диапазон from..to — не больше 62 дней.
        source=auto: официальное расписание, если есть, иначе расчёт.
        422 unsupported — если source=official, а официальной таблицы нет.
      parameters:
        - name: cityId
          in: query
          required: false
          description: Идентификатор города. Обязателен, если не переданы lat/lon/timeZoneId.
          schema:
            type: string
            example: dushanbe
        - name: lat
          in: query
          required: false
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lon
          in: query
          required: false
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: timeZoneId
          in: query
          required: false
          description: IANA часовой пояс, обязателен вместе с lat/lon
          schema:
            type: string
            example: Asia/Dushanbe
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
            example: "2026-09-30"
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
            example: "2026-10-30"
        - name: method
          in: query
          required: false
          description: По умолчанию — suggestedMethod города
          schema:
            $ref: "#/components/schemas/CalculationMethodId"
        - name: madhab
          in: query
          required: false
          description: По умолчанию — suggestedMadhab города
          schema:
            $ref: "#/components/schemas/Madhab"
        - name: source
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/PrayerSourceParam"
      responses:
        "200":
          description: Расписание
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrayerTimesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unsupported"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /ramadan/{hijriYear}:
    get:
      tags: [hijri]
      operationId: getRamadan
      summary: Даты Рамадана и Ида по стране + дуа
      description: |
        404 — если данных на этот год ещё нет (приложение использует Умм аль-Кура).
      parameters:
        - name: hijriYear
          in: path
          required: true
          schema:
            type: integer
            minimum: 1400
            maximum: 1600
            example: 1448
        - $ref: "#/components/parameters/CountryRequired"
        - $ref: "#/components/parameters/AcceptLanguage"
      responses:
        "200":
          description: Рамадан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ramadan"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/Internal"

  /devices:
    post:
      tags: [ devices ]
      operationId: registerDevice
      summary: Регистрация анонимного устройства → токен
      description: |
        Без email, телефона и пароля. Токен приложение хранит в Keychain
        и передаёт в заголовке Authorization: Bearer <token>.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceRegistration"
      responses:
        "201":
          description: Устройство создано
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/Internal"

  /devices/me/push:
    put:
      tags: [ devices ]
      operationId: setDevicePush
      summary: APNs-токен и подписки на темы
      description: |
        Темы: ramadan-{country}, eid-{country}, announcements.
        Push на каждый намаз не отправляется — это локальные уведомления приложения.
      security:
        - deviceToken: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushSettings"
      responses:
        "204":
          description: Сохранено
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/Internal"


components:
  securitySchemes:
    deviceToken:
      type: http
      scheme: bearer
      description: Токен из POST /v1/devices
  parameters:
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: Язык UI-текстов (tg, ru, en, ar). Фолбэк — en.
      schema:
        type: string
        example: ru
    CountryQuery:
      name: country
      in: query
      required: false
      description: Код страны ISO 3166-1 alpha-2
      schema:
        type: string
        pattern: "^[A-Z]{2}$"
        example: TJ
    CountryRequired:
      name: country
      in: query
      required: true
      description: Код страны ISO 3166-1 alpha-2
      schema:
        type: string
        pattern: "^[A-Z]{2}$"
        example: TJ
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Cursor:
      name: cursor
      in: query
      required: false
      description: Непрозрачный курсор из nextCursor предыдущего ответа
      schema:
        type: string
    CityIdPath:
      name: cityId
      in: path
      required: true
      schema:
        type: string
        example: dushanbe
    LatQuery:
      name: lat
      in: query
      required: true
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
    LonQuery:
      name: lon
      in: query
      required: true
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180

  schemas:
    # ---------- Общие ----------
    LocalizedString:
      type: object
      description: Локализуемая строка. Ключи — коды языков.
      properties:
        en:
          type: string
        ru:
          type: string
        tg:
          type: string
        ar:
          type: string
      example:
        en: Khujand
        ru: Худжанд
        tg: Хуҷанд
        ar: خجند

    Coordinate:
      type: object
      required: [latitude, longitude]
      properties:
        latitude:
          type: number
          format: double
          example: 40.2826
        longitude:
          type: number
          format: double
          example: 69.6222

    # ---------- Конфигурация ----------
    Config:
      type: object
      required: [minSupportedVersion, latestVersion, features, contentVersions, supportUrl]
      properties:
        minSupportedVersion:
          type: string
          example: 1.0.0
        latestVersion:
          type: string
          example: 1.0.3
        features:
          $ref: "#/components/schemas/Features"
        contentVersions:
          type: object
          description: Версии контента (quran, quranEditions, hadith, cities)
          additionalProperties:
            type: integer
          example:
            quran: 3
            quranEditions: 5
            hadith: 2
            cities: 7
        ramadan:
          $ref: "#/components/schemas/RamadanSummary"
        supportUrl:
          type: string
          format: uri
          example: https://namoz.tj/support

    Features:
      type: object
      required: [sync, officialTimetables, quranSearch]
      properties:
        sync:
          type: boolean
        officialTimetables:
          type: boolean
        quranSearch:
          type: boolean

    RamadanSummary:
      type: object
      nullable: true
      required: [status, hijriYear, startDate]
      properties:
        status:
          $ref: "#/components/schemas/ConfirmationStatus"
        hijriYear:
          type: integer
          example: 1448
        startDate:
          type: string
          format: date
          example: "2027-02-08"

    ConfirmationStatus:
      type: string
      enum: [expected, confirmed]

    # ---------- Города ----------
    City:
      type: object
      required:
        - id
        - name
        - country
        - coordinate
        - timeZoneId
        - suggestedMethod
        - suggestedMadhab
        - hasOfficialTimetable
      properties:
        id:
          type: string
          example: khujand
        name:
          $ref: "#/components/schemas/LocalizedString"
        region:
          $ref: "#/components/schemas/LocalizedString"
        country:
          type: string
          pattern: "^[A-Z]{2}$"
          example: TJ
        coordinate:
          $ref: "#/components/schemas/Coordinate"
        timeZoneId:
          type: string
          example: Asia/Dushanbe
        suggestedMethod:
          $ref: "#/components/schemas/CalculationMethodId"
        suggestedMadhab:
          $ref: "#/components/schemas/Madhab"
        hasOfficialTimetable:
          type: boolean
        population:
          type: integer
          nullable: true
          example: 183000

    NearestCity:
      allOf:
        - $ref: "#/components/schemas/City"
        - type: object
          required: [distanceKm]
          properties:
            distanceKm:
              type: number
              format: double
              example: 2.4

    CityList:
      type: object
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/City"
        nextCursor:
          type: string
          nullable: true

    # ---------- Методы расчёта ----------
    CalculationMethodId:
      type: string
      description: Идентификаторы строго совпадают с CalculationMethod в iOS
      enum:
        - muslimWorldLeague
        - northAmerica
        - egypt
        - ummAlQura
        - karachi
        - turkey

    Madhab:
      type: string
      enum: [hanafi, shafii]

    IshaRule:
      type: object
      required: [type, value]
      properties:
        type:
          type: string
          enum: [angle, minutesAfterMaghrib]
        value:
          type: number
          format: double
          example: 17

    CalculationMethod:
      type: object
      required: [id, title, fajrAngle, isha]
      properties:
        id:
          $ref: "#/components/schemas/CalculationMethodId"
        title:
          $ref: "#/components/schemas/LocalizedString"
        fajrAngle:
          type: number
          format: double
          example: 18
        isha:
          $ref: "#/components/schemas/IshaRule"

    CalculationMethodList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CalculationMethod"

    # ---------- Время намазов ----------
    PrayerSourceParam:
      type: string
      enum: [auto, official, calculated]
      default: auto

    PrayerSource:
      type: string
      enum: [official, calculated]

    HijriDate:
      type: object
      required: [day, month, year]
      properties:
        day:
          type: integer
          example: 18
        month:
          type: integer
          example: 4
        year:
          type: integer
          example: 1448
        monthName:
          $ref: "#/components/schemas/LocalizedString"

    PrayerTimes:
      type: object
      description: Моменты времени в ISO 8601 со смещением часового пояса города
      required: [fajr, sunrise, dhuhr, asr, maghrib, isha]
      properties:
        fajr:
          type: string
          format: date-time
          example: "2026-09-30T04:51:00+05:00"
        sunrise:
          type: string
          format: date-time
          example: "2026-09-30T06:20:00+05:00"
        dhuhr:
          type: string
          format: date-time
          example: "2026-09-30T12:17:00+05:00"
        asr:
          type: string
          format: date-time
          example: "2026-09-30T16:26:00+05:00"
        maghrib:
          type: string
          format: date-time
          example: "2026-09-30T18:11:00+05:00"
        isha:
          type: string
          format: date-time
          example: "2026-09-30T19:33:00+05:00"

    PrayerDay:
      type: object
      required: [date, hijri, times]
      properties:
        date:
          type: string
          format: date
          example: "2026-09-30"
        hijri:
          $ref: "#/components/schemas/HijriDate"
        times:
          $ref: "#/components/schemas/PrayerTimes"
        imsak:
          type: string
          format: date-time
          example: "2026-09-30T04:41:00+05:00"

    PrayerTimesResponse:
      type: object
      required: [timeZoneId, method, madhab, source, days]
      properties:
        cityId:
          type: string
          nullable: true
          description: null, если запрос был по координатам
          example: dushanbe
        timeZoneId:
          type: string
          example: Asia/Dushanbe
        method:
          $ref: "#/components/schemas/CalculationMethodId"
        madhab:
          $ref: "#/components/schemas/Madhab"
        source:
          $ref: "#/components/schemas/PrayerSource"
        sourceName:
          $ref: "#/components/schemas/LocalizedString"
        updatedAt:
          type: string
          format: date-time
          nullable: true
          example: "2026-09-01T00:00:00Z"
        days:
          type: array
          items:
            $ref: "#/components/schemas/PrayerDay"

    # ---------- Хиджра и Рамадан ----------
    Dua:
      type: object
      required: [id, arabic, translations]
      properties:
        id:
          type: string
          example: iftar
        arabic:
          type: string
        transliteration:
          type: string
        translations:
          $ref: "#/components/schemas/LocalizedString"
        source:
          type: string
          example: Sunan Abi Dawud 2357

    Ramadan:
      type: object
      required: [hijriYear, country, status, startDate, endDate, length, eidAlFitr, duas]
      properties:
        hijriYear:
          type: integer
          example: 1448
        country:
          type: string
          example: TJ
        status:
          $ref: "#/components/schemas/ConfirmationStatus"
        startDate:
          type: string
          format: date
          example: "2027-02-08"
        endDate:
          type: string
          format: date
          example: "2027-03-09"
        length:
          type: integer
          example: 30
        eidAlFitr:
          type: string
          format: date
          example: "2027-03-10"
        laylatAlQadrExpected:
          type: string
          format: date
          example: "2027-03-05"
        confirmedAt:
          type: string
          format: date-time
          nullable: true
        source:
          $ref: "#/components/schemas/LocalizedString"
        duas:
          type: array
          items:
            $ref: "#/components/schemas/Dua"

    # ---------- Устройства и push ----------
    DeviceRegistration:
      type: object
      required: [ platform, appVersion ]
      properties:
        platform:
          type: string
          enum: [ ios ]
        appVersion:
          type: string
          example: 1.0.0
        locale:
          type: string
          example: ru_TJ
        timeZoneId:
          type: string
          example: Asia/Dushanbe
        country:
          type: string
          pattern: "^[A-Z]{2}$"
          example: TJ

    DeviceCreated:
      type: object
      required: [ deviceId, token ]
      properties:
        deviceId:
          type: string
          example: dev_5f1c0a9e3b7d4c2a8e6f1b0d
        token:
          type: string
          description: Секрет устройства. Показывается один раз, на сервере хранится только хэш.

    PushSettings:
      type: object
      required: [ apnsToken, environment, topics ]
      properties:
        apnsToken:
          type: string
          description: Токен APNs (hex)
        environment:
          type: string
          enum: [ production, sandbox ]
        topics:
          type: array
          maxItems: 20
          items:
            type: string
          example: [ ramadan-TJ, eid-TJ, announcements ]

    # ---------- Контент дня ----------
    AyahRef:
      type: object
      required: [ surah, ayah ]
      properties:
        surah:
          type: integer
          example: 2
        ayah:
          type: integer
          example: 255

    # ---------- Ошибки ----------
    ErrorCode:
      type: string
      enum:
        - invalid_argument
        - unauthorized
        - not_found
        - conflict
        - unsupported
        - rate_limited
        - internal

    ErrorBody:
      type: object
      required: [ code, message, requestId ]
      properties:
        code:
          $ref: "#/components/schemas/ErrorCode"
        message:
          type: string
          example: City not found
        details:
          type: object
          additionalProperties: true
        requestId:
          type: string
          example: 01J9ZK3M5Q8T2V4X6Y8Z0A1B2C

    Error:
      type: object
      required: [ error ]
      properties:
        error:
          $ref: "#/components/schemas/ErrorBody"

  headers:
    RetryAfter:
      description: Через сколько секунд можно повторить запрос
      schema:
        type: integer

  responses:
    BadRequest:
      description: Неверный параметр (invalid_argument)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Нет или неверный токен устройства (unauthorized)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Ресурс не найден (not_found)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unsupported:
      description: Операция не поддерживается, например нет официального расписания (unsupported)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Превышен лимит запросов (rate_limited)
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Internal:
      description: Ошибка сервера (internal)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"